body {
  margin: 0;
  background: #eaeaea;
  font-family: sans-serif;
}

/* MOBILE FRAME */
.app {
  width: 375px;
  height: 100vh;
  margin: auto;
  background: #f9f9f9;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}